---
BasedOnStyle: Mozilla
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: AllDefinitions
PenaltyReturnTypeOnItsOwnLine: 2000
PointerAlignment: Right
